@font-face {
    font-family: 'Scout';
    src: url('scout/Scout-Regular.woff2') format('woff2'),
        url('scout/Scout-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scout';
    src: url('scout/Scout-Light.woff2') format('woff2'),
        url('scout/Scout-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scout RegularItalic';
    src: url('scout/Scout-RegularItalic.woff2') format('woff2'),
        url('scout/Scout-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Scout';
    src: url('scout/Scout-Bold.woff2') format('woff2'),
        url('scout/Scout-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scout';
    src: url('scout/Scout-BoldItalic.woff2') format('woff2'),
        url('scout/Scout-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Scout';
    src: url('scout/Scout-LightItalic.woff2') format('woff2'),
        url('scout/Scout-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

